#first {
  margin-bottom: 111px;
  .in-section {
    .content-img {
      display: flex;
      margin-left: -24px;
      margin-bottom: 75px;

      .phone {
        width: 129px;
        height: 193px;
        margin-right: 24px;
      }

      .glass {
        width: 220px;
        height: 193px;
        border-radius: 20px;
      }
    }

    h2 {
      width: 255px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    p {
      color: var(--grey-grey);
      text-align: center;
    }
  }
}
