#first {
  margin-bottom: 111px;
  .in-section {
    .content-img {
      display: flex;
      margin-left: -24px;
      margin-bottom: 75px;

      .phone {
        width: 129px;
        height: 193px;
        margin-right: 24px;
      }

      .glass {
        width: 220px;
        height: 193px;
        border-radius: 20px;
      }
    }

    .text-block {
      h2 {
        width: 255px;
        text-align: center;
        margin: 0 auto 24px;
      }

      p {
        color: var(--grey-grey);
        text-align: center;
      }
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #first {
    margin-bottom: 142px;

    .in-section {
      .content-img {
        margin-left: 0;
        margin-bottom: 72px;

        .phone {
          width: 214px;
          height: 320px;
          margin-right: 30px;
        }

        .glass {
          width: 445px;
          height: 320px;
        }
      }

      .text-block {
        display: grid;
        grid-template-columns: 255px auto;
        gap: 36px;

        h2 {
          width: auto;
          text-align: left;
          margin: 0;
        }

        p {
          text-align: left;
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #first {
    margin-bottom: 168px;

    .in-section {
      display: flex;

      .content-img {
        margin-bottom: 0;

        .phone {
          width: 255px;
          height: 480px;
        }

        .glass {
          width: 445px;
          height: 480px;
        }
      }

      .text-block {
        grid-template-columns: 255px;
        gap: 27px;
        margin-left: 125px;
        margin-top: 112px;
      }
    }
  }
}
