footer {
  text-align: center;
  margin-bottom: 50px;
  color: var(--grey-grey);

  span {
    font-weight: 900;
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  footer {
    margin-bottom: 43px;
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
}
