#second {
  margin-bottom: 96px;

  .in-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;

    .card {
      text-align: center;

      .icon-content {
        background: #f16718;
        border-radius: 16px;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }

      h3 {
        margin: 48px 0 24px;
      }

      p {
        color: var(--grey-grey);
        margin: 0;
      }
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #second {
    margin-bottom: 142px;

    .in-section {
      grid-template-columns: 1fr 1fr;
      gap: 72px 69px;

      .card {
        text-align: left;

        .icon-content {
          margin: 0;
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
}
